@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p><strong>Name:</strong> Car Pooling</p>
<p><strong>Purpose:</strong> improve traffic</p>
<p><strong>Description of the application:</strong> any user will have two options when will access the initial page:
     creating or searching for a route</p>
<p><strong>CREATE</strong><br />Page 2 will contain a map where you can add by clicking the starting point (home) and
    the  destination point (work) and on the right side will be a form that will retrieve the following data:<br />
    &nbsp&nbsp&nbsp-Name<br />
    &nbsp&nbsp&nbsp-Telephone<br />
    &nbsp&nbsp&nbsp-Number of seats<br />
    &nbsp&nbsp&nbsp-Starting hour<br />
To send data from form to the database we will press the <strong>Create Route</strong> button.
    </p>
<p>
    <strong>SEARCH</strong><br />Page 3 will contain a map where you can add by clicking the starting point (home) and
    the destination point (work) and on the right side will be a form that will retrieve the following data:<br />
    &nbsp&nbsp&nbsp-Name<br />
    &nbsp&nbsp&nbsp-Telephone<br />
    &nbsp&nbsp&nbsp-Starting hour<br />
To send data from form to the database we will press the <strong>Create Route</strong> button. 
</p>
