@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Bd. Tudor Vladimirescu, nr. 22, Green Gate<br />
    Sector 5, București – 050883, <br />
    <abbr title="Phone">Phones:</abbr>
    +4 021 311.66.31/ +4 021 311.66.32
   
</address>

<address>
    This project was coordinated by: <br/>
    <strong>&nbsp &nbsp &nbsp Victor Grigoriu: </strong>  
    <a href="mailto:victorg@teamnet.ro">victorg@teamnet.ro</a><br />
</address>

<address>
    Members:<br/>
    <strong>&nbsp &nbsp &nbsp Antonie Anca:</strong>   <a href="mailto:antonie.anca@yahoo.com">antonie.anca@yahoo.com</a><br/>
    <strong>&nbsp &nbsp &nbsp Dumitru Andreea:</strong> <a href="mailto:andreean.dumitru@gmail.com">andreean.dumitru@gmail.com</a><br/>
    <strong>&nbsp &nbsp &nbsp Grigore Ana-Teodora:</strong> <a href="mailto:anna730punct@yahoo.com">anna730punct@yahoo.com</a><br />
    <strong>&nbsp &nbsp &nbsp Pîrvu Flavia-Alice:</strong> <a href="mailto:pirvuflaviaalice@gmail.com">pirvuflaviaalice@gmail.com</a><br />
    <strong>&nbsp &nbsp &nbsp Taşcau Dan-Ciprian:</strong> <a href="mailto:tascauciprian@gmail.com">tascauciprian@gmail.com</a>
</address>