@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="margin-top:50px">
    <div class="col-md-4">
        @Html.ActionLink("Create Route >>", "Index", "CreateRoute", new { area = "" }, new { @class = "btn btn-default" })
    </div>
    <div class="col-md-4">
        @Html.ActionLink("Search Route >>", "Index", "SearchRoute", new { area = "" }, new { @class = "btn btn-default" })
    </div>
</div>

<div class="row" style="margin-top:50px">

    @Html.Partial("~/Views/Shared/DefaultMap.cshtml")
    
</div>
