﻿@model BestApp.Entities.Track

@{
    ViewBag.Title = "DateInserate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Datele au fost inserate cu succes!</h4>
 @Html.DisplayForModel()

<a class="btn btn-default" href="/CreateRoute"> &lt;&lt;Back</a>