
@{
    ViewBag.Title = "Search Route";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search Route</h2>
<div class="row" style="margin-top:50px">

    @Html.Partial("~/Views/Shared/DefaultMap.cshtml")

</div>


