
<div id="map" style="height: 450px;"></div>

<script>
    $(document).ready(function () {
        map = L.map('map').setView([44.5, 26], 10);
        var layer = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png');
        layer.addTo(map);
    });
</script>
